@model List<Dentist.Entities.Model.Service>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- ***** Breadcrumb Area Start ***** -->
<div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url(../../Content/image/bg-img/12.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <h2 class="title">Fiyatlarımız</h2>
            </div>
        </div>
    </div>
</div>
<div class="breadcumb--con">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Home/Index"><i class="fa fa-home"></i> Ana Sayfa</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Fiyatlarımız</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ***** Breadcrumb Area End ***** -->
@Html.Partial("~/Views/Partial/_Pricing.cshtml", Model, new ViewDataDictionary { { "isSeeAll", false } })