@model List<Dentist.Entities.Model.Job>
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Çalışan Ekleme Sayfası <small>@Dentist.AspMvcUI.Utility.Util.StaticVariables.RequiredField</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                @if (Model == null || Model.Count <= 0)
                {
                    <span>Personel ekleyebilmeniz için önce branş eklemeniz gerekiyor. <u><a href="/Admin/Job/Add">Buradan ekleyebilirsiniz.</a></u></span>
                }
                else
                {
                    <form id="demo-form2" data-parsley-validate method="post" action="/Admin/Employee/Add" enctype="multipart/form-data" class="form-horizontal form-label-left">
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Görev Tanımı</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control" name="JobId">
                                    @foreach (var item in Model)
                                    {
                                        <option value="@item.Id">@item.Title</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="titleId">
                                İsim Soyisim :  <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" required="required" name="FullName" class="form-control col-md-7 col-xs-12">
                                <span class="fa fa-male form-control-feedback right" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Telefon :  <span class="required"></span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                <input type="text" name="Phone" class="form-control" placeholder="Telefon" data-inputmask="'mask' : '(999) 999-9999'">
                                <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="titleId">
                                Email :  <span class="required"></span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="Email" class="form-control col-md-7 col-xs-12">
                                <span class="fa fa-at form-control-feedback right" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="titleId">
                                Resim :  <span class="required"></span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="file" name="uploadImage" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>


                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12" style="display:inline-grid">
                                <button type="submit" class="btn btn-success">KAYDET</button>
                            </div>
                        </div>

                    </form>
                }
            </div>
        </div>
    </div>
</div>