@model Dentist.Entities.Dto.BlogViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ***** Breadcrumb Area Start ***** -->
<div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url(../../Content/image/bg-img/12.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <h2 class="title">Blog</h2>
            </div>
        </div>
    </div>
</div>
<div class="breadcumb--con">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Home/Index"><i class="fa fa-home"></i> Ana Sayfa</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Blog</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ***** Breadcrumb Area End ***** -->
<!-- *****Blog Area Start ***** -->
<section id="blogMainRow" class="dento-blog-area mt-50">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                @if (Model != null && Model.ArticleBlock != null && Model.ArticleBlock.ArticleList != null)
                {
                    <div id="divArticleListPartial">
                        @Html.Partial("~/Views/Partial/_ArticleList.cshtml", Model.ArticleBlock, new ViewDataDictionary { { "currentPage", ViewData["currentPage"] }, { "categoryId", ViewData["categoryId"] }, { "pagingType", Dentist.AspMvcUI.Models.Enum.ArticlePagingType.Index } })
                    </div>
                }
            </div>

            <!-- Dento Sidebar Area -->
            <div class="col-12 col-lg-4">
                <div class="dento-sidebar">
                    <!-- Single Widget Area -->
                    <div class="single-widget-area search-widget">
                        <form>
                            <input id="txtSearchArticle" type="search" class="form-control" placeholder="Ara">
                            <button type="button" onclick="SearchArticle(1);"><i class="icon_search"></i></button>
                        </form>
                    </div>

                    <!-- Single Widget Area -->
                    <div class="single-widget-area catagories-widget">
                        <h5 class="widget-title">Kategoriler</h5>
                        <!-- catagories list -->
                        <ul class="catagories-list">
                            @if (Model != null)
                            {
                                if (Model.Categories != null && Model.Categories.Count > 0)
                                {
                                    foreach (var item in Model.Categories)
                                    {
                                        <li><a onclick="GetByCategoryId(1,@item.Id)">@item.Title</a></li>
                                    }
                                }
                                else
                                {
                                    <li><span>Gösterilecek kategori bulunamadı.</span></li>
                                }
                            }
                        </ul>
                    </div>
                    @Html.Partial("~/Views/Partial/_ArticleMinimalVertical.cshtml", Model.LastAddedArticleList)
                </div>
            </div>
        </div>
    </div>
</section>
<!-- *****Blog Area End ***** -->
